<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6bb3fe01af.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="center">
        <div class="logo">
            <a href="/" class="logo-link">
                <h2><span style="font-weight: lighter;">Portal</span><b>News</b></h2>
            </a>
        </div> <!--Logo-->
        <div class="form-busca">
            <form>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Usa o google filho da puta" name="busca">
            </form>
        </div><!--form busca-->
        </div><!--center-->
    </header>