<%- include('partials/header.html') %>
<link rel="stylesheet" href="/public/style2.css">

<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2>TEXTO DE TITULO BEM GRANDE AQUI SO PRA DALE</h2>
            <div class="autor">
                <span>Por: Odio de fazer isso</span>
                <p>Lorem ipsum dolor sit amet. Et numquam quis sed fugit maxime ut vero omnis est ullam cupiditate. At consequatur veniam est Quis magni est cupiditate nostrum sed harum vitae eum nisi saepe et dolor rerum? Et fugit aliquam vel praesentium maiores ut repellendus dolore ea rerum repellendus eos commodi assumenda. </p>
                <p>Eum dolorum tempora eum totam nihil sed sequi atque sed cumque consequatur. Sit fuga quaerat qui Quis explicabo sit vitae accusamus qui unde harum id alias inventore. Est distinctio dicta non optio rerum et culpa impedit. Eum tenetur libero ut earum sint vel nulla voluptatum est voluptates rerum est nesciunt adipisci aut illo placeat. </p>
                <h3>SUB TITULOOOO</h3>
                <p>Ut fugiat amet est veritatis molestiae qui consequatur recusandae. Qui omnis vero et animi galisum ut harum aliquid ut quidem voluptas aut voluptatem beatae a corrupti eligendi. </p>
            </div>
        </div>

        <div class="mais-lidas">
            <h3>As mais lidas</h3>
            <div class="mais-lidas-noticias">
                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/ash.jpeg">
                    <div class="texto-mais-lidas-single">
                        <h4>Ash impostor?</h4>
                        <p>Internautas estão desconfiando de Ash. Desde 1999 que o ator tem 10 anos! CGI?</p>
                        <a href="/ash-arrombado">Ler tudo</a>
                    </div>
                </div>
            </div>
            <div class="mais-lidas-noticias">
                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/itachi.jpg">
                    <div class="texto-mais-lidas-single">
                        <h4>Itachi realmente morreu?</h4>
                        <p>De acordo com especialistas, o mundo que vivemos hoje pode ser um genjutsu do Itachi!</p>
                        <a href="/itachi-nosso-deus">Ler tudo</a>
                    </div>
                </div>
            </div>
            <div class="mais-lidas-noticias">
                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/goku-saitama.jpg">
                    <div class="texto-mais-lidas-single">
                        <h4>Goku vs Saitama!</h4>
                        <p>Nesse artigo, você descobre quem venceria em uma porradaria sincera: Goku ou Saitama?</p>
                        <a href="/goku-sentaria-a-porrada-facil">Ler tudo</a>
                    </div>
                </div>
            </div>
            <div class="mais-lidas-noticias">
                <div class="mais-lidas-noticias-single">
                    <img src="/public/images/fudencio.jpg">
                    <div class="texto-mais-lidas-single">
                        <h4>Por onde anda fudencio?</h4>
                        <p>Internautas descobrem como o ator de fudencio está hoje em dia! As drogas valem a pena?</p>
                        <a href="/drogas-valem-a-pena">Ler tudo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.html') %>